<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SVM</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename ='style.css' )}}"
    />
  </head>
  <body>
  <div class="main">
    <h1 class="heading">Support Vector Machines</h1>
  </div>
    <form action="calc" method="POST" onsubmit="">
      <div class="row">
        <div class = "col">
        <table
          class="table table-dark table-bordered table-hover w-100 border-success"
        >
          <thead>
            <tr class="table-warning">
              <th scope="col">Test Data</th>
              <th scope="col">X1</th>
              <th scope="col">X2</th>
            </tr>
          </thead>
          <tbody>
            {% for i in range(1)%}
            <tr>
              <th scope="row">{{i+1}}</th>
              {% for j in range(2)%}
              <td >
                <input type="number" step = "0.0001" class="form-control"  id="floatingInput{{i+j}}" width="10px" name="a{{i}}{{j}}" value="0" >
              </td>
              {% endfor%}
            </tr>
              {% endfor%}
          </tbody>
          
        </table>
        <hr>
        <label for="exampleFormControlTextarea1 ">Output:</label>
              <textarea class="form-control" style="width: 650px;" id="exampleFormControlTextarea1" rows="12" disabled>
                weight matrix : {{w}}
                bias                : {{bia}}
                1. The yellow dots are for data points which are classified as 1.
                2. The purple dots are for data points which are classified as -1.
                3. The red line is the line which is in between the support vectors and divides 
                    the data set.
                4. Enter the points you want to classify and click on Submit button.
              </textarea>
              <hr>
              <button class="btn btn-primary" type="submit">Submit</button>
      </div>
        <div class="col">
          <div class="Output-box" >
            <img src="data:image/png;base64,{{plot_url}}">
            
            
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
