<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SVM</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename ='style.css' )}}"
    />
  </head>
  <body>
    <div class="main">
      <h1 class="heading">Support Vector Machines</h1>
    </div>
    <form action="main" method="POST" onsubmit="">
      <div
        class="input-details"
        style="position: relative; padding-left: 37.5%; padding-top: 5%"
      >
        <div class="mb-3 w-25">
            <label for="input">Do you want to work with predefined-data ? (1-yes,0-no)</label>
          <input
            type="number"
            class="form-control"
            id="input"
            name="rows"
          />
          
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          style="position: relative; left: 65px"
        >
          Create table
        </button>
      </div>
    </form>
  </body>
</html>
